/* Add your CSS code below */
.a {
  color: red;
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}
.message__author {
  border-left: 5px;
}

.message__author {
  opacity: 50%;
}
.messages {
  line-height: 1.3em;
}
