main, section,footer{
    margin:0;
    padding: rem-clac(20);
    line-height: 25px;
    color : #fff;
    background-color: #252b2d;
    font-size: 20px;
}
.main{
    padding : 120px;
}

.content{
    padding : 60px;
} 

.footer{
    text-align: center;
}
@media screen and (min-width: 640px){
    .flex-container{
        display: flex;
    }
    .cotent{
        flex : 1;
    }
    .sidebar{
        flex : 0 1 300px;
    }
}
.wrapper{
    margin: auto;
    max-width: rem-calc(1200);
}
.menu{
    background-color: #313b3d;
    padding: 10px;
}
.menu ul li{
    display: inline;
    margin-right: 4%;
    
}
.beside{
    display: flex;
}
.subset{
    padding : 20px;
    flex : 1;
}
.subset2{
    padding : 20px;
    flex : 1;
}
.vl{
    border-left: 2px solid white;
    height: 400px;
}
.vl_header{
    border-left: 2px solid white;
    
    display: inline;
    margin-right: 20px;
}
button {
    padding: 10px;
}

.MenuSubLine{border-right: solid 2px;
    text-align: center;
    padding:11px;
    margin: auto;

}

.flex-container {
    display: flex;
    background-color: #313b3d;
    margin: 20px;
  }
  
  .flex-container > div {
    background-color: #313b3d;
    margin: 8px;
    padding: 10px;
    font-size: 20px;
    width:20%;
    color:white;
  border-right: solid 2px;
  }