h1{
    color:black;
   border-bottom: 6px solid red;
  background-color: lightgrey;
  margin: 5px;

  
  }
  h3{
    color:black;
   border-bottom: 6px solid red;
  background-color: lightgrey;
  margin: 5px;

  }

li{
    color: blue; 
    
}   

.list{
    background-color: yellow;
    height: 200px;
    width: 60%;
    margin: 5px;
}

.liststyle {
    height: 200px;
    width: 60%;
    background-color: powderblue;
    margin: 15px;

  }

  .bordering
  {margin : 10 px;
}