.countries {
  display: flex;
  justify-content: space-around;
  

}


.countries--second .country {
  padding: 0.5em;
  
}

/* Add your own CSS code below */
.country{
  padding: 10px;
  background-color: rgb(235, 235, 245);
  border: gray 1px solid;
  width: 10%;
  height: 33px;
  text-align: center;
  
}

.countries--first{
  list-style: none;
  justify-content: stretch;
}
.countries--second{
  list-style: none;
}
.countries--third{
  list-style: none;
  flex-direction: column;

}
.countries--fourth{
  height: 400px;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
}